@import "tailwindcss";

:root {
  /* cta color */
  --vivid-orange: #fb8500;
  /* Heading color */
  --selective-yellow: #ffb703;
  /* Background color */
  --dark-blue: #023047;
  /* Background svg decorator color */
  --strong-cyan: #219ebc;
  /* Text color */
  --light-gray: var(--color-gray-200);
}

@theme inline {
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-firacode-mono);
  --color-background: var(--dark-blue);
  --color-heading: var(--selective-yellow);
  --color-text: var(--light-gray);
  --color-cta: var(--vivid-orange);
  --color-background-decorator: var(--strong-cyan);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */

body {
  background: var(--color-background);
  color: var(--color-text);
  /* font family fallback list, at least one of the following will be available to the user */
  font-family: var(--font-firacode-mono), Arial, Helvetica, sans-serif;
}
